html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

canvas {
  display: block;
}

body {
  background-color: rgb(35, 35, 35);
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
#menu {
  width: 20%;
  min-width: 150px;
  height: 100%;
  background: rgb(54, 53, 53);
}
main {
  width: auto;
  height: 100%;
}
div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(54, 53, 53);
  padding: 10px;
}
div#selectedGate {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 6px;
}
button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  padding: 10px;
  outline: none;
  &.on {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    scale: 0.9;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: start;
  align-items: center;
}
